<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882110867202-8aev2d22mlfu4ket28uqlnst3bslllif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882110867202-8aev2d22mlfu4ket28uqlnst3bslllif</string>
	<key>API_KEY</key>
	<string>AIzaSyCDkNUTNzewxzP_PQN4AjZJBWAsMFyeRwk</string>
	<key>GCM_SENDER_ID</key>
	<string>882110867202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyclub</string>
	<key>PROJECT_ID</key>
	<string>easyclub-dcbb7</string>
	<key>STORAGE_BUCKET</key>
	<string>easyclub-dcbb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882110867202:ios:af73d863455b59943c441b</string>
	<key>DATABASE_URL</key>
	<string>https://easyclub-dcbb7-default-rtdb.firebaseio.com</string>
</dict>
</plist>